*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Cormorant Garamond', serif;
}
img {
    max-width: 100%;
    
}
/* -------------------- CONTAINER --------------------- */
.container {
    max-width: 1200px;
    margin: 0 ;
}
/* ---------------------- HEADER ----------------------- */
.header {
  display: flex;
  align-items: center;
  min-height: 80vh;
  background: linear-gradient(
    90deg,
    rgba(241,237,220,1) 0%,
    rgba(255,255,253,1) 50%,
   rgba(252,246,232,1) 100%
  );
  padding: 70px 0;
}
.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-size: 25px;
    font-weight: 800 ;
    color:#FF3C2A;
    text-transform: uppercase;
}
/* NAV */
.menu .navbar ul li {
   position: relative;
   float: left;
}
.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #111111;
    display: block;
}
.menu .navbar ul li a:hover {
    color: #FF3C2A;
}
#menu{
    display: none;
}
.menu-icon {
    width: 25px;
}
.menu label {
    display: none;
    cursor: pointer;
}


.submenu {
    position: relative;
}
.submenu #carrito {
    display: none;

}
.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px) ;
    top: 100%;
    z-index:1 ;
    background-color: #4E4b5e76;
    padding: 20px;
    min-width: 400px;
} 
table {
    width: 100%;
}
th, td {
    color:   #fff;
}
.borrar{
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    color: #fff;
    font-weight: 800;
    cursor: pointer;      
}
/* -------------------- HEADER CONTENT -------------------- */
.header-content {
    display: flex;
   align-items: center;
   flex: 1; 
}
.header-txt {
    flex-basis: 40%;
}
.header-txt h1 {
    font-size: 70px;
    line-height:1 ;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 25px;
}


   
    
p{
    color: #555555;
    font-size: 18px;
    margin-bottom: 25px;
}
.btn-1 , .btn-3 {
    display: inline-block;
    padding: 10px 30px  ;
    color:red;
    border: 2px solid red; 
    text-transform: capitalize;
    border-radius: 15px;
}
.btn-1:hover , .btn-3:hover {
    background-color: red;
    color: #fff;
}
.header-img {
    flex: 60%;
    text-align: right;
}
/* -------------------- OFERTAS -------------------- */
.Ofertas{
    padding: 100px 0;
}
h2{
    font-size: 40px;
    line-height: 1;
    margin-bottom: 10px;
    color: #333333;
}
.Ofertas-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.oferts-1{
    flex-basis: calc(30% - 30px);
    box-shadow:0 0 20px rgba(0,0,0,0.2) ;
    padding: 25px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
}
.oferts-1 img{
    width: 130px;
    height: 170px;
    margin-bottom: 10px;

}
h3{
    font-size: 20px;
    margin-bottom: 10px;
    color: #333333;
    line-height: 1;

}
.producto-txt p{
    margin-bottom: 10px;
}
.precio{
    font-size: 22px;
    color: red;
    font-weight: 700;
    margin-bottom: 20px;
}
.btn-3{
    padding: 4px 20px;
}

.logan-1{
    flex-basis: 40%;
    background: linear-gradient(

        rgba(0,0,0,0.3) ,
        rgba(0,0,0,0.3) 
    ),
    url(images/ch1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px ;
    border-radius: 10px;
}
.logan-1 h3{
   font-size: 30px;
   color: #ffffff;
   text-transform: uppercase;

}
.logan-1 p{
    font-size: 18px    ;
    text-transform: uppercase;
    margin: 20px;
    color: #f7f7f7;
}
.btn-2{
    display:inline-block;
    padding: 8px 30px ;
    color: #ffffff;
    border: 1px solid #fff;

}
.promotion{
    padding: 80px 0;
    background-color: #f7f7f7;
}
.promotion-content{
    display: flex;
}
.promotion-txt{
    flex-basis: 50;
}
.promotion-img{
    flex-basis: 50%;
    text-align: center;
}
.promotion-img img{
    width: 250px;
}
.producto{
    padding: 100px 0;
    text-align: center;
}
.producto-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-bottom:50px;
}
/* -------------------- FOOTER -------------------- */

.footer{
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
}

.footer h3{
    margin-bottom: 20px;
}

.footer ul li{
    margin-bottom: 10px;
}

.footer ul li a{
    color: #333;
    font-size: 18px;
}